html {
    background-color: #e3e3e3;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 30px;
    margin: 0;
}

p {
    line-height: 1.4cm;
}

.blogPost {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    border-left: 5px dotted #ccc;
    border-right: 5px dotted #ccc;
}

.blog {
    display: flex;
    padding: 20px;
}

img {
    width: 33%;
    height: 33%;
}

.link {
    position: sticky;
    background-color: lightgoldenrodyellow;
    margin-top: -100px;
    top: 0;
    
}